@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";
@import "../node_modules/codemirror/lib/codemirror.scss";
@import "../node_modules/codemirror/addon/fold/foldgutter.scss";
@import "../node_modules/codemirror/theme/material.scss";

/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkaE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v6/ViZhet7Ak-LRXZMXzuAfkYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-property: opacity, transform, background-color;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@mixin grid_r($col, $width) {
    @media only screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                flex-basis: #{100 / $col}%;
            }
        }
    }
}

@mixin grid($col) {
    .grid-#{$col} {
        & > * {
            flex-basis: #{100 / $col}%;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(6);

@include grid_r(2, 400);
@include grid_r(2, 800);

@include grid_r(4, 400);
@include grid_r(4, 800);

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

$gray: rgb(28, 38, 43);
$green: rgb(109, 194, 173);
$red: rgba(96, 16, 16, 1);
$lightred: rgba(192, 96, 96, 1);

body {
    background-color: $gray;
}

.grid {
    height: 100vh;
    > * {
        border: none;
        font-family: 'Ubuntu Mono', sans-serif;
        font-size: .75em;
        vertical-align: center;
        overflow-y: auto;
        &:first-child {
            background-color: #efefef;
        }
        &:nth-child(2){
            > * {
                padding: 0;
                border: 0;
                outline: 0;
                resize: none;
            }

            > *:nth-child(1) {
                background-color: $gray;
                color:$green;
            }

            > *:nth-child(2) {
                background-color: $red;
                color: $lightred;
                flex: 1;
                max-height: 0px;
                opacity: 0;
                &.active {
                    max-height: 50%;
                    padding: .5rem;
                    opacity: 1;
                }
            }

            > *:nth-child(3) {
                flex: 1;
                max-height: 0px;
                background-color: $gray;
                color:$green;
                &.active {
                    max-height: 50%;
                    padding: .5rem;
                }
            }

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;

            > * {
                flex: 1;
                flex-basis: 50%;
            }
        }
        &:focus {
            highlight: none;
            outline: 1px solid lightblue;
        }
    }

}

.CodeMirror {
    height: 100vh;
    .CodeMirror-code {
        > div {
            > pre {
                padding-left: 2rem;
            }
        }
    }
    span {
        vertical-align: middle;
    }
}

.right-pane {
    min-height: 100vh;
    textarea {
        min-height: 25vh;
    }
}